* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
    background-image: linear-gradient(12deg, #11dab8 0%, #06105a 100%);
    padding: 10px;
}

.todo-app {
    width: 30%;
    min-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #192055;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s ease-in;
    transition-property: background, color;
}

button:hover {
    background: #c4cdd2b6;
    color: rgb(17, 69, 78);
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 30%;
}

ul li span:hover {
    background: #edeef0;
}


/* adding responsiveness */

@media (max-width: 600px) {

    .todo-app {
        width: 90%;
        min-width: unset;
        padding: 20px;
        margin: 60px auto;
    }

    .row {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        padding: 10px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 0.8rem;
    }

    ul li {
        font-size: 16px;
        padding-left: 45px;
    }

    ul li::before {
        height: 24px;
        width: 24px;
        top: 10px;
        left: 10px;
    }

    ul li span {
        width: 35px;
        height: 35px;
        font-size: 20px;
        line-height: 35px;   
    }
    
}